.custom-button {
  box-sizing: border-box;
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: .5px;
  line-height: 50px;
  padding: 0 35px;
  font-size: 15px;
  background-color: rgb(22, 22, 22);
  color: rgb(233, 233, 233);
  text-transform: uppercase;
  font-family: inherit;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  border: 1px solid transparent;

  &:hover {
    background-color: rgb(233, 233, 233);
    color: rgb(22,22,22);
    border: 1px solid rgb(22,22,22);
  }

  &.google-sign-in {
    background-color: #4285f4;
    color: white;

    &:hover {
      background-color: #357ae8;
      border: 1px solid transparent;
    }
  }
}